<h3>Persoonlijk</h3>
<afield [fieldName]="'BSN'" [isRequired]="true" [fieldType]="text" 
[helpText]="Uw burgerservicenummer (BSN) kunt u vinden op uw paspoort, rijbewijs of ander identiteitsbewijs. Het bestaat altijd uit 9 cijfers."></afield>
<afield [fieldName]="'Geboortedatum'" [isRequired]="true" [fieldType]="date" ></afield>
<afield [fieldName]="'Achternaam (Geboortenaam)'" [isRequired]="true" [fieldType]="text" [infoText]="De achternaam die u bij uw geboorte hebt gekregen."></afield>
<afield [fieldName]="'Voorletters'" [isRequired]="true" [fieldType]="text" ></afield>
<afield [fieldName]="'Voorvoegsel'" [isRequired]="true" [fieldType]="text" ></afield>
<afield [fieldName]="'Geslacht'" [isRequired]="true" [fieldType]="select" ></afield>
<afield [fieldName]="'Burgerlijke staat'" [isRequired]="true" [fieldType]="select" ></afield>
<afield [fieldName]="'Leefsituatie'" [isRequired]="true" [fieldType]="select" ></afield>
<afield [fieldName]="'Juridische maatregelen'" [isRequired]="true" [fieldType]="select" [helpText]="Dit veld dient u te vullen indien er sprake is van juridische maatregelen. Bijvoorbeeld mentorschap of onder curatele stelling"></afield>
<afield [fieldName]="'Telefoonnummer'" [isRequired]="true" [fieldType]="text" [infoText]="Als er geen telefoonnummer is van de zorgvrager, vul dan op de volgende pagina, bij het onderdeel relaties, een contactpersoon in."></afield>
<afield [fieldName]="'Het Telefoonnummer is Geheim'" [isRequired]="checkbox" [fieldType]="date" ></afield>
<afield [fieldName]="'Taal'" [isRequired]="true" [fieldType]="select" ></afield>
<afield [fieldName]="'Bent u in staat tot telefonische communicatie?'" [isRequired]="radio" [fieldType]="date" [infoText]="Indien u niet in staat bent tot telefonische communicatie, is het vullen van een contactpersoon verplicht."></afield>
<afield [fieldName]="'Bijzondere communicatievorm'" [isRequired]="true" [fieldType]="select" [helpText]="Wanneer u een tolk nodig heeft, kunt u dit hier aangeven. Het CIZ regelt dan de tolk, wanneer er een gesprek plaats vindt."></afield>
